acmeserv.image
acmeserv.kernel
iucv/.*.cmd
iucv/.tmp_versions
iucv/*.ko
iucv/*.mod.c
iucv/*.mod
iucv/*.o
iucv/modules.*
iucv/Module.symvers
linux/
linux-*/
linux-*.tar.xz
linux.config.old
.*.sw?
init
